# /etc/file_extension_match_mover.config
# This is a WELL FORMED SAMPLE configuration file for the file_matcher_mover program.
# Edit this as necessary for your filesystem and program
# The directory paths specified here will determine how the program operates.
# Comments and empty lines are ignored as usual.
#
# There can be no empty lines between variables and values, or between values assigned to the same variable.
# Variable names are donoted by a string ending with the equals '=' character.

## ########### DIRECTORY INTO WHICH WE WANT TO MOVE THE MATCHED FILES:  ########################

# destination_dir_fullpath variable:
# This should be a single file path relative to the root of your filesystem,
# (ie the full, absolute path with leading /). Only one single value can be assigned here.

destination_dir_fullpath=
/home/username/matching_files/moved/here

## ########### DIRECTORY CONTAINING THE FILES WE WANT TO FIND:  ########################

# source_dir_fullpath variable:
# This is the location under which all directories and files will be considered for auditing. 
# This should be a single file path relative to the root of your filesystem,
# (ie the absolute path with leading /).

source_dir_fullpath=
/home/username/search_for_matches/under_this/directory

## ########### THE STRING WE WANT TO MATCH IN FILENAMES:  ########################

# specify the file extension to match:
#file_extension=".mp4"  ## REMEMBER TO ESCAPE SPECIAL CHARS WITH '\'
#file_extension=".mkv"
#file_extension=".srt"
#file_extension=".epub"

file_extension=
.mp4

